@font-face {
    font-family: 'CrimsonText-Italic';
    src: url('../fonts/crimsonText-italic/CrimsonText-Italic.eot');
    src: url('../fonts/crimsonText-italic/CrimsonText-Italic.eot?iefix') format('eot'),
    url('../fonts/crimsonText-italic/CrimsonText-Italic.woff') format('woff'),
    url('../fonts/crimsonText-italic/CrimsonText-Italic.ttf') format('truetype'),
    url('../fonts/crimsonText-italic/CrimsonText-Italic.svg#webfont') format('svg');
}

@font-face {
    font-family: 'CrimsonText-Roman';
    src: url('../fonts/crimsonText-roman/CrimsonText-Roman.eot');
    src: url('../fonts/crimsonText-roman/CrimsonText-Roman.eot?iefix') format('eot'),
    url('../fonts/crimsonText-roman/CrimsonText-Roman.woff') format('woff'),
    url('../fonts/crimsonText-roman/CrimsonText-Roman.ttf') format('truetype'),
    url('../fonts/crimsonText-roman/CrimsonText-Roman.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/montserrat-black/Montserrat-Black.eot');
    src: url('../fonts/montserrat-black/Montserrat-Black.eot?iefix') format('eot'),
    url('../fonts/montserrat-black/Montserrat-Black.woff') format('woff'),
    url('../fonts/montserrat-black/Montserrat-Black.ttf') format('truetype'),
    url('../fonts/montserrat-black/Montserrat-Black.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat-regular/Montserrat-Regular.eot');
    src: url('../fonts/montserrat-regular/Montserrat-Regular.eot?iefix') format('eot'),
    url('../fonts/montserrat-regular/Montserrat-Regular.woff') format('woff'),
    url('../fonts/montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/montserrat-regular/Montserrat-Regular.svg#webfont') format('svg');
}

.header {
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e7;
}

.header__wrapper {
    width: 1170px;
    overflow: hidden;
    margin: auto;
}

.header__wrap-icon {
    display: none;
    height: 89px;
    border-right: 1px solid #e4e5e7;
    float: left;
}

.header__icon-menu {
    width: 20px;
    height: 14px;
    display: inline-block;
    background: url("../images/sprite.png") 0 0 no-repeat;
    margin: 37px 42px 0 0;
    float: left;
}

.header__link, .navigation, .header__icon-shopping, .header__text, .header__count {
    float: left;
}

.header__link {
    margin: 28px 126px 32px 32px;

}

.navigation {
    margin: 39px 0 32px;
}

.navigation__item {
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 29px;
    color: #343e5c;
    font: 14px 'Montserrat-Regular';
    transition: color 0.2s;
}

.navigation__item:hover {
    color: #00e2aa;
}

.shopping {
    height: 38px;
    margin: 28px 0 23px 136px;
    float: right;
}

.header__button {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #e3e8f0;
    border-radius: 50px;
    padding: 10px 15px;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
    transition: background-color 0.2s;
}

.header__button:hover {
    background-color: #e3e8f0;
}

.header__icon-shopping {
    width: 18px;
    height: 17px;
    display: inline-block;
    background: url("../images/sprite.png") 0 -27px no-repeat;
    margin-right: 8px;
    position: relative;
    top: 11px;
}

.header__text {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
    line-height: 38px;

}

.header__count {
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: #e3e8f0;
    border-radius: 50px;
    margin: 7px 19px 0 8px;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
    line-height: 24px;
}

.tabs {
    background-color: #ffffff;
    overflow: hidden;
}

.tabs__common {
    width: 1170px;
    overflow: hidden;
    margin: auto;
}

.tabs__wrapper {
    width: 969px;
    overflow: hidden;
    margin: auto;
    float: left;
}

.nav-list {
    width: 969px;
    margin: 24px 0;
    float: left;
}

.nav-list__item {
    text-decoration: none;
    font: 11px 'Montserrat-Regular';
    color: #b9bed1;
    margin: 0 30px 23px 0;
    transition: color 0.2s;
}

.nav-list__item:hover, .nav-list__item_active {
    color: #343e5c;
}

.nav-list__item_position {
    margin-left: 360px;
}

.form__tabs {
    float: left;
    padding: 24px 12px 22px 19px;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
}

.tabs__icon-search {
    float: left;
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url("../images/sprite.png") -5px -57px no-repeat;
    margin-right: 10px;
    margin-top: 3px;
}

.tabs__input {
    width: 145px;
    float: left;
    border: none;
    font: 14px 'Montserrat-Regular';
    color: #a1a7bd;
}

.tabs__input:focus {
    outline: none;
}

.slider {
    width: 1000px;
    margin: auto;
}

.slide {
    height: 500px;
    background-color: #1c1e23;
    position: relative;
    overflow: hidden;
}

.my-slide {
    width: 880px;
    margin: auto;
}

.slick-slide {
    width: 880px;
    float: left;
}

.slick-slide:focus {
    outline: none;
}

.slick-list {
    height: 500px;
}

.slick-arrow {
    width: 42px;
    height: 42px;
    font-size: 0;
    display: inline-block;
    background: url("../images/sprite.png") 0 -91px no-repeat;
    border: none;
    position: relative;
    cursor: pointer;
}

.slick-arrow:focus {
    outline: none;
}

.slick-prev {
    float: left;
    top: 227px;
    left: -100px;
    transform: rotate(180deg);
}

.slick-next {
    float: right;
    right: -142px;
    bottom: 273px;
}

.slick-dots {
    width: 60px;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: auto;
    position: relative;
    bottom: 38px;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li:last-child {
    margin-right: 0;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 8px;
    height: 8px;
    padding: 0;
    cursor: pointer;
    border: 2px solid #8e8f91;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover, .slick-dots li.slick-active button {
    border: none;
    background-color: #ffffff;
}

.slide__img {
    width: 300px;
    height: 875px;
    float: right;
    margin-top: -68px;
}

.slide__info {
    width: 450px;
    float: left;
    margin-top: 105px;
}

.slide__title {
    text-transform: capitalize;
    font: 42px 'Montserrat-Black';
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 33px;
}

.slide__text {
    font: 16px 'CrimsonText-Roman';
    color: #ffffff;
    margin-bottom: 65px;
}

.slide__button {
    text-decoration: none;
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #ffffff;
    background-color: #2754eb;
    border-radius: 50px;
    padding: 15px 50px;
    margin-top: 0;
}

.store {
    background-color: #e4e5e7;
}

.store-wrapper {
    width: 1170px;
    margin: auto;
    overflow: hidden;
}

.sort, .top-sellers {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

.sort__text, .sort__selected, .icon-checked, .main-sort, .main-sort__text_margin, .main-sort__text_margins, .main-sort__icon-check_mark, .main-sort__text-shipping {
    float: left;
}

.sort__span {
    float: left;
    margin-top: 23px;
    margin-bottom: 17px;
}

.sort__text {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #a1a7bd;
    margin: 0 82px 0 20px;
}

.select {
    display: inline-block;
    cursor: pointer;
}

.sort__selected {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
}

.icon-checked {
    width: 10px;
    height: 6px;
    display: inline-block;
    background: url("../images/sprite.png") -5px -229px no-repeat;
    margin: 3px 20px 0 8px;
}

.main-sort {
    width: 695px;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    overflow: hidden;
}

.main-sort__text_margin {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #a1a8bd;
    margin: 23px 10px 0 30px;
}

.main-sort__input-name, .main-sort__input-name_font {
    height: 30px;
    background-color: #f0f2f7;
    border: 1px solid #e3e8f0;
    border-radius: 50px;
    float: left;
    margin-top: 13px;
    margin-bottom: 11px;
    font: 13px 'Montserrat-Regular';
}

.main-sort__input-name:focus, .main-sort__input-name_font:focus {
    outline: none;
}

.main-sort__input-name {
    width: 160px;
    padding-left: 10px;
}

.main-sort__input-name::-webkit-input-placeholder {
    color: #b9bfd3;
}

.main-sort__input-name::-moz-placeholder {
    color: #b9bfd3;
}

/* Firefox 19+ */
.main-sort__input-name:-moz-placeholder {
    color: #b9bfd3;
}

/* Firefox 18- */
.main-sort__input-name:-ms-input-placeholder {
    color: #b9bfd3;
}

.main-sort__input-name_font::-webkit-input-placeholder {
    color: #343e5c;
}

.main-sort__input-name_font::-moz-placeholder {
    color: #343e5c;
}

/* Firefox 19+ */
.main-sort__input-name_font:-moz-placeholder {
    color: #343e5c;
}

/* Firefox 18- */
.main-sort__input-name_font:-ms-input-placeholder {
    color: #343e5c;
}

.main-sort__input-name_font {
    width: 62px;
    text-align: center;
    padding-left: 0;
}

.main-sort__text_margins {
    margin-left: 6px;
    margin-right: 6px;
    color: #343e5c;
    line-height: 3.5;
}

.main-sort__icon-check_mark {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/sprite.png") -1px -246px no-repeat #00e2aa;
    margin: 21px 10px 0 32px;
    border-radius: 50px;
}

.main-sort__text-shipping {
    text-transform: capitalize;
    font: 13px 'Montserrat-Regular';
    color: #343e5c;
    margin-top: 23px;
}

.filter, .product {
    width: 270px;
    float: left;
}

.products {
    width: 900px;
    float: right;
}

.filter__item, .product {
    background-color: #ffffff;
    border-radius: 4px;
    margin-bottom: 30px;
    overflow: hidden;
}

.filter__item:first-child {
    overflow: inherit;
}

.list {
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.item {
    overflow: hidden;
}

.list__item {
    list-style-type: none;
    border-bottom: 1px solid #e4e5e7;
    overflow: hidden;
    cursor: pointer;
}

.list__item:last-child {
    border-bottom: none;
}

.list__item-text {
    text-transform: capitalize;
    font: 13px 'Montserrat-Regular';
    color: #343e5c;
    padding-left: 25px;
    float: left;
    margin-top: 17px;
    margin-bottom: 13px;
}

.list__item .icon-select {
    width: 6px;
    height: 10px;
    display: inline-block;
    background: url("../images/icon.png") no-repeat;
    float: right;
    margin: 16px 19px 0 0;
    transition: transform 0.5s;
}

.list__item .inside-list {
    display: none;
}

.list__item_active .icon-select {
    transform: rotate(90deg);
}

.inside-list {
    background-color: #f0f2f7;
    padding-left: 0;
    overflow: hidden;
}

.inside-list__item {
    list-style-type: none;
    border-top: 1px solid #e4e5e7;
}

.inside__item-text {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #a1a7bd;
    padding-left: 25px;
    line-height: 4;
}

.filter__content {
    border-top: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
}

.text__span {
    border-bottom: 1px solid #e4e5e7;
}

.filter__text {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
    line-height: 4.25;
    margin-left: 25px;
}

.filter-list {
    padding: 0;
}

.filter-list__item {
    padding-left: 25px;
    list-style-type: none;
    margin-bottom: 15px;
}

.filter-list__item:last-child {
    margin-bottom: 0;
}

.item__label {
    text-transform: capitalize;
    font: 13px 'Montserrat-Regular';
    color: #343e5c;
}

.item__number {
    float: right;
    margin-right: 20px;
    font: 13px 'Montserrat-Regular';
    color: #b8bfd3;
}

.item__radio[type="radio"]:not(:checked),
.item__radio[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.item__radio[type="radio"]:not(:checked) + label,
.item__radio[type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.item__radio[type="radio"]:not(:checked) + label:before,
.item__radio[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid #e4e8f0;
    background-color: #ffffff;
    border-radius: 50px;
}

.item__radio[type="radio"]:checked + label:after {
    content: url("../images/selected-radioButton.png");
    width: 8px;
    height: 8px;
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 13px;
    line-height: 0.8;
}

.item__checkbox[type="checkbox"]:not(:checked),
.item__checkbox[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.item__checkbox[type="checkbox"]:not(:checked) + label,
.item__checkbox[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.item__checkbox[type="checkbox"]:not(:checked) + label:before,
.item__checkbox[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid #e4e8f0;
    background-color: #ffffff;
    border-radius: 3px;
}

.item__checkbox[type="checkbox"]:checked + label:before {
    width: 20px;
    height: 20px;
    border: none;
    background-color: #00e2aa;
}

/* checked mark aspect*/
.item__checkbox[type="checkbox"]:not(:checked) + label:after,
.item__checkbox[type="checkbox"]:checked + label:after {
    content: url("../images/icon-check.png");
    width: 10px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 13px;
    line-height: 0.8;
}

.filter__link {
    text-transform: uppercase;
    float: right;
    font: 13px 'Montserrat-Regular';
    color: #2754eb;
    margin-top: 20px;
    margin-right: 20px;
}

.filter-list__item_display:first-child {
    float: left;
    border-right: 1px solid #e4e5e7;
}

.filter-list__item_display {
    display: inline-block;
    float: right;
    padding-right: 43px;
    margin: -17px 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.product {
    text-decoration: none;
    height: 399px;
    margin-left: 30px;
    display: block;
}

.product__img {
    width: 205px;
    height: 195px;
    display: block;
    margin: 10px auto 0;
}

.product__title, .product__text, .product__price {
    text-align: center;
}

.product__title {
    height: 38px;
    text-transform: capitalize;
    font: 16px 'Montserrat-Regular';
    color: #1c1e23;
    margin-top: 50px;
    margin-bottom: 20px;
}

.product__text {
    display: block;
    text-transform: uppercase;
    font: 12px 'Montserrat-Regular';
    color: #b8bfd3;
    margin-top: 0;
    margin-bottom: 16px;
}

.product__price {
    display: block;
    font: 14px 'Montserrat-Regular';
    color: #343e5c;
    margin-top: 0;
    margin-bottom: 37px;
}

.product_double {
    width: 570px;
}

.product_double-link {
    display: block;
}

.product__img-text {
    position: relative;
}

.product__img-big {
    width: 570px;
    height: 305px;
    margin: 0;
}

.product__price_color {
    position: absolute;
    top: 12px;
    left: 12px;
    font: 12px 'Montserrat-Regular';
    color: #ffffff;
    background-color: #1c1e23;
    border-radius: 3px;
    padding: 5px 8px;
    margin-bottom: 0;
}

.product__text-block, .product__button {
    display: inline-block;
}

.product__text-block {
    float: left;
}

.product__title_place {
    margin: 20px 0 14px 25px;
}

.product__text_place {
    text-align: left;
    margin: 0 0 20px 25px;
}

.product__button {
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #3a405b;
    margin-top: 10px;
    margin-right: 10px;
}

.product__button-right {
    border: 2px solid #e4e5e7;
    border-radius: 0 50px 50px 0;
    border-left: none;
}

.product__button-left {
    border: 2px solid #e4e5e7;
    border-radius: 50px 0 0 50px;
    margin-right: 0;
}

.product__button-right, .product__button-left {
    padding: 10px 30px;
    transition: background-color 0.2s;
}

.product__button-right:hover, .product__button-left:hover {
    background-color: #e3e8f0;
}

.product__title_position, .product__price_color-grey {
    position: absolute;
}

.product__title_position {
    margin-top: 40px;
}

.product__price_color-grey {
    top: 90px;
    left: 110px;
    color: #6d6c6b;
}

.sort__next-pages {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
}

.left-mark, .right-mark {
    width: 195px;
    height: auto;
    display: block;
    transition: background-color 0.2s;
}

.left-mark:hover, .right-mark:hover {
    background-color: #d0d3d8;
}

.left-mark {
    border-right: 1px solid #e4e5e7;
    float: left;
}

.right-mark {
    border-left: 1px solid #e4e5e7;
    float: right;
}

.arrow-left, .arrow-right {
    width: 6px;
    height: 10px;
    display: inline-block;
    background: url("../images/sprite.png") -5px -279px no-repeat;
    margin: 38px 95px;
}

.arrow-right {
    background: url("../images/sprite.png") -7px -317px no-repeat;
}

.pages-numb {
    width: 460px;
    margin: 19px auto;
}

.pages-numb__item {
    width: 48px;
    height: 48px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font: 14px 'Montserrat-Regular';
    color: #3a405b;
    margin-right: 6px;
    transition: border-radius 0.2s, box-shadow 0.2s;
    overflow: hidden;
    line-height: 48px;
}

.pages-numb__item:last-child {
    margin-right: 0;
}

.pages-numb__item_active, .pages-numb__item:hover, .pages-numb__item:active {
    border-radius: 50px;
    box-shadow: #a8acb9 0 20px 62px 0; /*color, horizontal, vertical, opacity, chroma*/
}

.top-sellers {
    margin-bottom: 50px;
    overflow: hidden;
}

.top-sellers__title {
    border-bottom: 1px solid #e4e5e7;
    text-align: center;
}

.top-sellers__title-span {
    margin: 24px 0;
    line-height: 3.25;
}

.product__top {
    width: 291px;
    height: 100%;
    margin-left: 0;
    border-right: 1px solid #e4e5e7;
    border-radius: 0;
    margin-bottom: 0;
}

.product__top:last-child {
    border: none;
}

.products-item__img {
    margin: 10px auto 0;
    display: block;
    height: 210px;
}

.product__price-block {
    width: 110px;
    margin: auto;
}

.product__price-old {
    text-decoration: line-through;
    color: #b8bfd3;
    float: left;
    margin-bottom: 37px;
}

.product__price-new {
    float: right;
}

.product__price-old, .product__price-new {
    margin-bottom: 37px;
}

.users {
    width: 100%;
    background-color: #ffffff;
    overflow: hidden;
}

.users__wrapper {
    width: 970px;
    margin: 75px auto 90px;
}

.users__title {
    text-transform: capitalize;
    text-align: center;
    font: 32px 'Montserrat-Black';
    color: #222328;
    margin-bottom: 20px;
    margin-top: 0;
}

.comment__item-text {
    text-transform: capitalize;
    text-align: center;
    font: 16px 'CrimsonText-Italic';
    color: #b9bed1;
    margin-bottom: 55px;
    margin-top: 0;
}

.comment__wrapper {
    overflow: hidden;
}

.comment {
    width: 255px;
    margin-right: 90px;
    float: left;
}

.comment:last-child {
    margin-right: 0;
}

.comment__item {
    overflow: hidden;
    margin-bottom: 24px;
}

.comment__item-img {
    width: 40px;
    height: 40px;
    background-color: #f0f2f7;
    border-radius: 50px;
}

.comment__item-img, .text {
    float: left;
}

.comment__item-img {
    margin-right: 19px;
}

.text p {
    margin-top: 0;
}

.comment__item-name {
    display: block;
    text-transform: capitalize;
    font: 14px 'Montserrat-Regular';
    color: #3a405b;
    margin-bottom: 12px;
}

.comment__item-text_margin {
    text-align: left;
    margin-bottom: 24px;
}

.comment__text {
    font: 16px 'CrimsonText-Roman';
    color: #3a405b;
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    width: 100%;
    background-color: #222328;
    overflow: hidden;
}

.footer__wrapper {
    width: 1175px;
    margin: 60px auto 54px;
}

.footer__up {
    overflow: hidden;
}

.footer__logo {
    float: left;
    margin-right: 300px;
    margin-bottom: 62px;
}

.footer__up-logo, .footer__navigation {
    float: left;
}

.subscribe {
    float: right;
}

.footer__up-logo {
    width: 92px;
    height: 25px;
    background: url("../images/logo_white.png") no-repeat;
}

.footer__navigation-item {
    text-decoration: none;
    text-transform: uppercase;
    font: 12px 'Montserrat-Regular';
    color: #ffffff;
    margin-right: 30px;
    transition: color 0.2s;
}

.footer__navigation-item:hover {
    color: #00e2aa;
}

.footer__navigation-item:last-child {
    margin-right: 0;
}

.subscribe__item {
    display: inline-block;
    background: url("../images/sprite.png") 0 0 no-repeat;
    margin-right: 25px;
    float: left;
}

.subscribe__item:last-child {
    margin-right: 0;
}

.subscribe__item-twitter {
    width: 17px;
    height: 14px;
    background: url("../images/sprite.png") -3px -350px no-repeat;
}

.subscribe__item-facebook {
    width: 9px;
    height: 18px;
    background: url("../images/sprite.png") -8px -393px no-repeat;
}

.subscribe__item-google {
    width: 24px;
    height: 15px;
    background: url("../images/sprite.png") -5px -430px no-repeat;
}

.footer__down {
    border-top: 1px solid #2d2e33;
    overflow: hidden;
}

.footer__down-text {
    width: 515px;
    font: 14px 'CrimsonText-Italic';
    color: #7f7f81;
    float: left;
    margin-top: 55px;
    margin-bottom: 0;
}

.confidence {
    float: right;
    margin-top: 65px;
    overflow: hidden;
}

.confidence__text {
    text-decoration: none;
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #7f7f81;
    float: left;
    margin: 0;
    transition: color 0.2s;
}

.confidence__text:hover {
    color: #00e2aa;
}

.confidence__text_margin {
    margin-right: 30px;
}

/*Desktop*/

@media (min-width: 1024px) and (max-width: 1169px) {

    .header__wrapper {
        width: 1024px;
    }

    .header__link {
        margin-right: 35px;
    }

    .header__icon-menu {
        margin-left: 20px;
        margin-right: 20px;
    }

    .tabs__common {
        width: 1024px;
    }

    .tabs__wrapper {
        width: 803px;
    }

    .shopping {
        margin-left: 0;
        margin-right: 20px;
    }

    .nav-list {
        width: 783px;
        margin-left: 20px;
    }

    .nav-list__item_position {
        margin-left: 275px;
    }

    .slick-prev {
        left: -52px;
    }

    .slick-next {
        right: -52px;
    }

    .store-wrapper {
        width: 1024px;
    }

    .sort {
        margin-left: 20px;
        margin-right: 20px;
    }

    .sort__text {
        margin-right: 20px;
    }

    .main-sort {
        width: 634px;
    }

    .main-sort__text_margin {
        margin-left: 20px;
    }

    .main-sort__icon-check_mark {
        margin-left: 20px;
    }

    .filter {
        width: 250px;
        margin-left: 20px;
    }

    .filter-list__item_display {
        padding-right: 33px;
    }

    .products {
        width: 753px;
    }

    .product {
        width: 229px;
        margin-left: 15px;
    }

    .product_double {
        width: 473px;
    }

    .product__top {
        width: 281px;
    }

    .sort__next-pages {
        width: 984px;
        margin: auto;
    }

    .top-sellers {
        width: 984px;
        margin: 50px auto;
    }

    .product__top {
        width: 230px;
    }

    .footer__wrapper {
        width: 984px;
    }
}

@media (max-width: 1023px) {

    .header__wrapper {
        width: 768px;
        margin: auto;
    }

    .header__icon-menu {
        margin-left: 20px;
        margin-right: 20px;
    }

    .header__link {
        margin-right: 10px;
        margin-left: 20px;
    }

    .navigation__item {
        margin-left: 10px;
        font: 12px 'Montserrat-Regular';
    }

    .shopping {
        margin-left: 0;
        margin-right: 20px;
    }

    .header__text {
        font: 10px 'Montserrat-Regular';
        line-height: 38px;
    }

    .header__count {
        margin-right: 10px;
    }

    .header__button {
        font: 10px 'Montserrat-Regular';
    }

    .tabs__common {
        width: 768px;
    }

    .tabs__wrapper {
        width: 547px;
    }

    .nav-list {
        width: 527px;
        margin-left: 20px;
    }

    .nav-list__item_position {
        margin-left: 0;
    }

    .form__tabs {
        margin-right: 20px;
    }

    .slide {
        display: none;
    }

    .store-wrapper {
        width: 768px;
    }

    .sort {
        margin-left: 6px;
        margin-right: 6px;
    }

    .sort__text {
        font: 10px 'Montserrat-Regular';
        margin-right: 10px;
    }

    .sort__selected {
        font: 10px 'Montserrat-Regular';
    }

    .icon-checked {
        margin-right: 8px;
    }

    .main-sort {
        width: 467px;
    }

    .main-sort__text_margin {
        font: 10px 'Montserrat-Regular';
        margin-left: 10px;
        margin-right: 10px;
    }

    .main-sort__input-name {
        width: 90px;
        font: 12px 'Montserrat-Regular';
    }

    .main-sort__input-name_font {
        width: 40px;
        font: 12px 'Montserrat-Regular';
    }

    .main-sort__icon-check_mark {
        margin-left: 10px;
    }

    .main-sort__text-shipping {
        font: 12px 'Montserrat-Regular';
    }

    .filter {
        width: 250px;
        margin-left: 6px;
    }

    .filter-list__item_display {
        padding-right: 28px;
    }

    .products {
        width: 512px;
    }

    .product {
        width: 223px;
    }

    .product_double {
        width: 476px;
    }

    .product__price_color-grey {
        left: 88px;
    }

    .sort__next-pages {
        width: 756px;
    }

    .left-mark, .right-mark {
        width: 148px;
    }

    .arrow-left, .arrow-right {
        margin-left: 75px;
        margin-right: 75px;
    }

    .top-sellers {
        margin-left: 6px;
        margin-right: 6px;
    }

    .product__top {
        width: 251px;
    }

    .product__top:last-child {
        display: none;
    }

    .product__top:nth-child(3) {
        border-right: none;
    }

    .users__wrapper {
        width: 768px;
    }

    .comment__wrapper {
        width: 675px;
        margin: 0 auto;
    }

    .comment {
        width: 195px;
        margin-right: 45px;
    }

    .footer__wrapper {
        width: 746px;
    }

    .footer__logo {
        margin-right: 100px;
    }

    .footer__down-text {
        width: 335px;
    }
}

@media (max-width: 767px) {

    .header__wrapper {
        width: 100%;
    }

    .navigation {
        display: block;
    }

    .form {
        display: flex;
        justify-content: center;
    }

    .nav-list {
        width: 100%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 24px;
    }

    .store-wrapper {
        width: 100%;
    }

    .sort__span {
        display: flex;
        justify-content: center;
        top: 0;
        left: 0;
    }

    .main-sort {
        width: 100%;
    }

    .sort__span, .main-sort, .main-sort__text_margin, .main-sort__input-name, .main-sort__input-name_font, .main-sort__text_margins, .main-sort__icon-check_mark, .main-sort__text-shipping {
        float: none;
    }

    .sort__span {
        overflow: hidden;
        margin: 23px auto 10px;
    }

    .sort__text, .select {
        float: left;
    }

    .main-sort {
        border: none;
    }

    .keywords, .price {
        text-align: center;
        overflow: hidden;
    }

    .mark {
        text-align: center;
    }

    .main-sort__icon-check_mark {
        margin-top: 10px;
    }

    .main-sort__text-shipping {
        position: relative;
        bottom: 5px;
    }

    .filter {
        width: 100%;
    }

    .filter__item {
        width: 250px;
        float: left;
        margin-right: 3px;
    }

    .filter__item:first-child {
        margin-left: 5px;
    }

    .filter__item:last-child {
        position: relative;
        top: -27px;
    }

    .products {
        width: 100%;
        overflow: hidden;
    }

    .product {
        width: 250px;
        float: left;
        margin: 0 2px 30px 3px;
    }

    .product_double {
        display: none;
    }

    .sort__next-pages {
        width: 98.5%;
    }

    .left-mark, .right-mark {
        width: 67px;
    }

    .arrow-left, .arrow-right {
        margin-left: 30px;
        margin-right: 30px;
    }

    .top-sellers__products {
        overflow: hidden;
    }

    .product__top {
        width: 49.9%;
        float: left;
        border-bottom: none;
        border-bottom: 1px solid #e4e5e7;
        margin: 0;
    }

    .product__top:last-child {
        display: block;
    }

    .product__top:nth-child(3) {
        border-right: 1px solid #e4e5e7;
    }

    .product__top:nth-child(2n) {
        border-right: none;
    }

    .users__wrapper {
        width: 100%;
    }

    .comment {
        float: left;
    }

    .footer__wrapper {
        width: 95%;
    }

    .footer__logo, .footer__navigation, .subscribe {
        float: left;
    }

    .subscribe {
        float: right;
    }
}

@media (max-width: 764px) {

    .product:last-child {
        display: none;
    }

    .filter {
        position: relative;
        top: 30px;
    }

    .filter__item {
        width: 49%;
    }

    .filter__item:first-child {
        margin-left: 0;
    }

    .filter__item:nth-child(3) {
        position: relative;
        top: -121px;
    }

    .filter-list__item_display {
        width: 33%;
    }

    .products {
        position: relative;
        top: -50px;
    }

    .product {
        width: 49%;
    }

    .left-mark, .right-mark {
        width: 67px;
    }

    .arrow-left, .arrow-right {
        margin-left: 30px;
        margin-right: 30px;
    }

    .product__top {
        width: 49.9%;
    }

    .product__top:last-child {
        display: block;
    }

    .footer__logo {
        margin-right: 68px;
    }

}

@media (max-width: 718px) {

    .header__wrap-icon {
        display: block;
    }

    .header__icon-menu {
        margin-top: 35px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navigation {
        width: 100%;
        border-top: 1px solid #e4e5e7;
        background-color: #ffffff;
        float: none;
        margin-top: 0;
        margin-bottom: 0;
        position: absolute;
        top: 89px;
        left: 0;
        z-index: 1;
    }

    .navigation__item {
        display: block;
        text-align: center;
        margin: 10px 0;
        border-bottom: 1px solid #e4e5e7;
        padding-bottom: 10px;
    }

    .navigation__item:last-child {
        border: none;
        padding-bottom: 0;
    }

    .header__link {
        margin-left: 10px;
    }

    .navigation {
        display: none;
    }

    .shopping {
        margin-top: 24px;
        margin-left: 0;
        margin-right: 10px;
    }

    .header__count {
        margin-right: 8px;
    }

    .header__button {
        padding: 10px 10px;
    }

    .tabs__common {
        width: 100%;
    }

    .tabs__wrapper {
        width: 100%;
        border-bottom: 1px solid #e4e5e7;
        float: none;
    }

    .nav-list__item {
        margin-right: 15px;
    }

    .form__tabs {
        width: 100%;
        margin-right: 0;
        float: none;
    }

    .tabs__input {
        width: 91%;
    }

    .comment__wrapper {
        width: 302px;
    }

    .comment {
        width: 302px;
        float: none;
        margin-bottom: 30px;
    }

    .comment:last-child {
        margin-right: 5px;
    }

    .footer__wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .footer__up {
        overflow: hidden;
        width: 302px;
        margin: auto;
        text-align: center;
    }

    .footer__down {
        width: 302px;
        margin: 20px auto;
    }

    .footer__down-text {
        width: 320px;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

    .footer__logo, .footer__navigation, .subscribe, .footer__down-text, .confidence {
        float: none;
        overflow: hidden;
    }

    .footer__logo {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .footer__navigation {
        text-align: center;
        margin-bottom: 20px;
    }

    .footer__navigation-item {
        margin-right: 10px;
    }

    .subscribe {
        display: inline-block;
        margin-bottom: 20px;
    }

    .confidence {
        margin-top: 0;
        text-align: center;
        position: relative;
        left: 30px;
    }

}

@media (max-width: 603px) {

    .pages-numb {
        width: 347px;
    }

    .pages-numb__item:nth-child(n + 7) {
        display: none;
    }

}

@media (max-width: 499px) {

    .tabs__common {
        width: 100%;
    }

    .filter, .products {
        width: 98%;
        overflow: hidden;
        float: none;
        margin: auto;
    }

    .filter__item {
        width: 100%;
    }

    .filter__item:nth-child(3), .filter__item:last-child {
        top: 0;
    }

    .filter-list__item_display {
        width: 32%;
    }

    .products {
        top: 0;
    }

    .product {
        width: 100%;
        float: none;
        margin: 30px 0;
    }

    .product_double {
        display: none;
    }

    .product__price_color-grey {
        left: 100px;
    }

    .pages-numb {
        width: 171px;
    }

    .pages-numb__item:nth-child(n + 4) {
        display: none;
    }

    .product__top {
        width: 100%;
    }

    .users__wrapper {
        margin-bottom: 0;
        margin-top: 40px;
    }

    .comment__item-text {
        margin-bottom: 40px;
    }

    .comment, .comment:last-child {
        float: none;
        margin: 0 auto 30px;
    }

}
