@font-face {
    font-family: 'CrimsonText-Italic';
    src: url('../fonts/crimsonText-italic/CrimsonText-Italic.eot');
    src: url('../fonts/crimsonText-italic/CrimsonText-Italic.eot?iefix') format('eot'),
    url('../fonts/crimsonText-italic/CrimsonText-Italic.woff') format('woff'),
    url('../fonts/crimsonText-italic/CrimsonText-Italic.ttf') format('truetype'),
    url('../fonts/crimsonText-italic/CrimsonText-Italic.svg#webfont') format('svg');
}

@font-face {
    font-family: 'CrimsonText-Roman';
    src: url('../fonts/crimsonText-roman/CrimsonText-Roman.eot');
    src: url('../fonts/crimsonText-roman/CrimsonText-Roman.eot?iefix') format('eot'),
    url('../fonts/crimsonText-roman/CrimsonText-Roman.woff') format('woff'),
    url('../fonts/crimsonText-roman/CrimsonText-Roman.ttf') format('truetype'),
    url('../fonts/crimsonText-roman/CrimsonText-Roman.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/montserrat-black/Montserrat-Black.eot');
    src: url('../fonts/montserrat-black/Montserrat-Black.eot?iefix') format('eot'),
    url('../fonts/montserrat-black/Montserrat-Black.woff') format('woff'),
    url('../fonts/montserrat-black/Montserrat-Black.ttf') format('truetype'),
    url('../fonts/montserrat-black/Montserrat-Black.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../fonts/montserrat-regular/Montserrat-Regular.eot');
    src: url('../fonts/montserrat-regular/Montserrat-Regular.eot?iefix') format('eot'),
    url('../fonts/montserrat-regular/Montserrat-Regular.woff') format('woff'),
    url('../fonts/montserrat-regular/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/montserrat-regular/Montserrat-Regular.svg#webfont') format('svg');
}

.header {
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #e4e5e7;
}

.header__wrapper {
    width: 1170px;
    overflow: hidden;
    margin: auto;
}

.header__wrap-icon {
    height: 89px;
    border-right: 1px solid #e4e5e7;
    float: left;
}

.header__icon-menu {
    width: 20px;
    height: 14px;
    display: inline-block;
    background: url("../images/sprite.png") 0 0 no-repeat;
    margin: 37px 0 0;
    padding-right: 42px;
    float: left;
}

.header__logo, .navigation, .header__icon-shopping, .header__text, .header__count {
    float: left;
}

.header__logo {
    margin: 32px 126px 32px 32px;

}

.navigation {
    margin: 39px 0 32px;
}

.navigation__item {
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 29px;
    color: #343e5c;
    font: 14px 'Montserrat-Regular';
}

.header__button {
    float: right;
}

.header__icon-shopping {
    width: 18px;
    height: 17px;
    display: inline-block;
    background: url("../images/sprite.png") 0 -27px no-repeat;
    margin: 36px 8px 0 136px;
}

.header__text {
    text-transform: uppercase;
    margin-top: 41px;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;

}

.header__count {
    background-color: #e3e8f0;
    border-radius: 50px;
    margin: 34px 19px 0 8px;
    padding: 7px 11px;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
}

.header__button {
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #e3e8f0;
    border-radius: 50px;
    padding: 10px 15px;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
    margin-top: 29px;
}

.tabs {
    width: 100%;
    background-color: #ffffff;
}

.tabs__wrapper {
    width: 1170px;
    overflow: hidden;
    margin: auto;
    border-right: 1px solid #e4e5e7;
}

.tabs__list {
    width: 969px;
    border-right: 1px solid #e4e5e7;
    padding: 24px 0;
    float: left;
}

.tabs__list-item {
    text-decoration: none;
    font: 11px 'Montserrat-Regular';
    color: #b9bed1;
    margin: 0 30px 23px 0;
}

.tabs__list-item:hover, .tabs__list-item_active {
    color: #343e5c;
}

.tabs__list-item_position {
    margin-left: 360px;
}

.tabs__icon-search {
    float: left;
    width: 13px;
    height: 13px;
    display: inline-block;
    background: url("../images/sprite.png") -5px -57px no-repeat;
    margin: 24px 10px 0 20px;
}

.tabs__input {
    width: 145px;
    float: left;
    margin-top: 24px;
    border: none;
    font: 14px 'Montserrat-Regular';
    color: #a1a7bd;
}

.slide {
    width: 100%;
    background-color: #1c1e23;
    position: relative;
    overflow: hidden;
}

.slide__banner {
    width: 880px;
    height: 500px;
    margin: auto;
    overflow: hidden;
}

.slide__icon-arrow {
    float: right;
    width: 42px;
    height: 42px;
    display: inline-block;
    background: url("../images/sprite.png") 0 -91px no-repeat;
    margin: 227px 165px 0 0;
}

.slide__img {
    width: 300px;
    height: 875px;
    float: right;
    margin-top: -68px;
}

.slide__info {
    width: 450px;
    float: left;
    margin-top: 105px;
}

.slide__title {
    text-transform: capitalize;
    font: 42px 'Montserrat-Black';
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 33px;
}

.slide__text {
    font: 16px 'CrimsonText-Roman';
    color: #ffffff;
    margin-bottom: 65px;
}

.slide__button {
    text-decoration: none;
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #ffffff;
    background-color: #2754eb;
    border-radius: 50px;
    padding: 15px 50px;
    margin-top: 0;
}

.slide__item-icon {
    width: 64px;
    height: 8px;
    margin: auto;
    position: absolute;
    top: 454px;
    left: 45%;
}

.slide__item-next {
    width: 4px;
    height: 4px;
    float: left;
    border: 2px solid #8e8f91;
    border-radius: 50px;
    margin-right: 8px;
}

.slide__item-next:hover, .slide__item-next:active, .slide__item-next_active {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border: none;
}

.store {
    width: 100%;
    background-color: #e4e5e7;
}

.store-wrapper {
    width: 1170px;
    margin: auto;
    overflow: hidden;
}

.sort {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 30px;
}

.sort__text, .sort__selected, .icon-checked, .main-sort, .main-sort__text_margin, .main-sort__text_margins, .main-sort__icon-check-mark, .main-sort__text-shipping {
    float: left;
}

.sort__text {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #a1a7bd;
    margin: 23px 48px 0 20px;

}

.sort__selected {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
    margin-top: 23px;
}

.icon-checked {
    width: 10px;
    height: 6px;
    display: inline-block;
    background: url("../images/sprite.png") -5px -229px no-repeat;
    margin: 26px 20px 0 8px;
}

.main-sort {
    width: 695px;
    border-right: 1px solid #e4e5e7;
    border-left: 1px solid #e4e5e7;
    overflow: hidden;
}

.main-sort__text_margin {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #a1a8bd;
    margin: 23px 10px 0 30px;
}

.main-sort__input-name, .main-sort__input-name_font {
    height: 30px;
    background-color: #f0f2f7;
    border: 1px solid #e3e8f0;
    border-radius: 50px;
    float: left;
    margin-top: 13px;
    margin-bottom: 11px;
    font: 13px 'Montserrat-Regular';
}

.main-sort__input-name {
    width: 160px;
    padding-left: 10px;
}

.main-sort__input-name::-webkit-input-placeholder {color:#b9bfd3;}
.main-sort__input-name::-moz-placeholder          {color:#b9bfd3;}/* Firefox 19+ */
.main-sort__input-name:-moz-placeholder           {color:#b9bfd3;}/* Firefox 18- */
.main-sort__input-name:-ms-input-placeholder      {color:#b9bfd3;}

.main-sort__input-name_font::-webkit-input-placeholder {color:#343e5c;}
.main-sort__input-name_font::-moz-placeholder          {color:#343e5c;}/* Firefox 19+ */
.main-sort__input-name_font:-moz-placeholder           {color:#343e5c;}/* Firefox 18- */
.main-sort__input-name_font:-ms-input-placeholder      {color:#343e5c;}

.main-sort__input-name_font {
    width: 62px;
    text-align: center;
    padding-left: 0;
}

.main-sort__text_margins {
    margin-left: 6px;
    margin-right: 6px;
    color: #343e5c;
}

.main-sort__icon-check-mark {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/sprite.png") -1px -156px no-repeat;
    margin: 18px 10px 0 32px;
}

.main-sort__text-shipping {
    text-transform: capitalize;
    font: 13px 'Montserrat-Regular';
    color: #343e5c;
    margin-top: 23px;
}

.filter {
    width: 270px;
    float: left;
}

.products {
    width: 900px;
    float: right;
}

.filter__panels, .filter__brands, .filter__condition, .filter__delivery {
    background-color: #ffffff;
    border-radius: 4px;
}

.filter__panels {
    margin-bottom: 30px;
}

.list {
    overflow: hidden;
    padding: 0;
}

.list__item {
    list-style-type: none;
    border-bottom: 1px solid #e4e5e7;
    overflow: hidden;
    cursor: pointer;
}

.list__item:last-child {
    border-bottom: none;
}

.list__item-link {
    text-decoration: none;
}

.list__item-text {
    text-transform: capitalize;
    font: 13px 'Montserrat-Regular';
    color: #343e5c;
    padding-left: 25px;
    float: left;
}

.icon-select {
    width: 6px;
    height: 10px;
    display: inline-block;
    background: url("../images/sprite.png") -8px -198px no-repeat;
    float: right;
    margin: 16px 19px 0 0;
}

.list__item .inside-list {
    display: none;
}

.list__item:active .inside-list/*, .list__item_active .inside-list*/ {
    display: block;
}

.list__item:active .icon-select_active/*, .list__item_active .icon-select_active*/ {
    width: 10px;
    height: 6px;
    background: url("../images/sprite.png") -5px -229px no-repeat;
}

.inside-list {
    background-color: #f0f2f7;
    margin-top: 42px;
    padding-left: 0;
    overflow: hidden;
}

.inside-list__item {
    list-style-type: none;
    border-top: 1px solid #e4e5e7;
}

.inside__item-link {
    text-decoration: none;
}

.inside__item-text {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #a1a7bd;
    padding-left: 25px;
}

.filter__brands {
    margin-bottom: 30px;
    overflow: hidden;
}

.filter__content {
    border-top: 1px solid #e4e5e7;
    border-bottom: 1px solid #e4e5e7;
}

.filter__text:first-child {
    border-bottom: 1px solid #e4e5e7;
}

.filter__text {
    text-transform: uppercase;
    font: 11px 'Montserrat-Regular';
    color: #343e5c;
    padding: 20px 0 20px 25px;
    margin: 0;
}

.filter-list {
    padding: 0;
}

.filter-list__item {
    padding-left: 25px;
    list-style-type: none;
    margin-bottom: 15px;
}

.filter-list__item:last-child {
    margin-bottom: 0;
}

.item__label {
    text-transform: capitalize;
    font: 13px 'Montserrat-Regular';
    color: #343e5c;
}

.item__number {
    float: right;
    margin-right: 20px;
    font: 13px 'Montserrat-Regular';
    color: #b8bfd3;
}

.item__radio[type="radio"]:not(:checked),
.item__radio[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}

.item__radio[type="radio"]:not(:checked) + label,
.item__radio[type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.item__radio[type="radio"]:not(:checked) + label:before,
.item__radio[type="radio"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid #e4e8f0;
    background-color: #ffffff;
    border-radius: 50px;
}

.item__radio[type="radio"]:checked + label:after {
    content: url("../images/selected-radioButton.png");
    width: 8px;
    height: 8px;
    position: absolute;
    top: 3px;
    left: 6px;
    font-size: 13px;
    line-height: 0.8;
}

.item__checkbox[type="checkbox"]:not(:checked),
.item__checkbox[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}

.item__checkbox[type="checkbox"]:not(:checked) + label,
.item__checkbox[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
}

.item__checkbox[type="checkbox"]:not(:checked) + label:before,
.item__checkbox[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -1px;
    width: 16px;
    height: 16px;
    border: 2px solid #e4e8f0;
    background-color: #ffffff;
    border-radius: 3px;
}

.item__checkbox[type="checkbox"]:checked + label:before{
    width: 20px;
    height: 20px;
    border: none;
    background-color: #00e2aa;
}


/* checked mark aspect*/
.item__checkbox[type="checkbox"]:not(:checked) + label:after,
.item__checkbox[type="checkbox"]:checked + label:after {
    content: url("../images/icon-check.png");
    width: 10px;
    height: 7px;
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 13px;
    line-height: 0.8;
}

.filter__link {
    text-transform: uppercase;
    float: right;
    font: 13px 'Montserrat-Regular';
    color: #2754eb;
    margin-top: 20px;
    margin-right: 20px;
}
